### None
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
- 기타 언어의 Null과 같은 의미로 사용

In [1]:
student_name = None
print(student_name)

None

### 4. 변수(Variable)
- 변수: 하나의 값을 저장할 수 있는 메모리 공간

```python
# 변수 선언 및 초기화 방법
num = 5
```
동적 타이핑 언어: 코드 작성시 Type을 명시하지 않음(코드 실행시 Python이 체크)  
대입연산자(=): 우측의 값을 좌측에 대입, 동등(equal)의 의미 아님

- python에서 동등(equal)은 ==을 사용

In [2]:
# name 변수 생성
# "Chulwoong Choi" 값을 name 변수에 저장

# name -> 변수 이름
# = -> 대입 연산자
# "Chulwoon choi" -> 값
name = "Chulwoong Choi"

###  명명 규칙(nameing rule)
1. 영문 대소문자, _, 숫자로만 구성
2. 숫자로 시작할 수 없음
3. 영어 대소문자 구별
4. 예약어 사용불가

- 예약어: Python에서 미리 선점하여 사용 중인 키워드
- 예약어는 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음
- 예약어 예) for, while, if, None, True, False, return, def 등등

In [ ]:
# 1abc = 5  (X) 숫자로 시작 불가
abc1 = 5  #(0)

# 영어 대소문자 구별
abc = 5  # abc와 Abc는 서로 다른 변수
Abc = 3

# 예약어 사용불가
# None = 3   #(X)
# print = 5  #(X)

## 5. Naming Method
- 변수, 함수, 클래스 등의 사용자 정의 이름에 사용
- 프로그래밍 언어별로 사용하는 Naming method가 다름
- Python은 snake_case 사용!!

1. snake_case: 소문자로 작성, 합성어 '_' 사용
2. camelCase: 첫글자 소문자, 합성어 첫글자 대문자
3. Pascalㅊase: 첫글자 대문자, 합성어 첫글자 대문자

## 6. format 출력

1. format(): 과거
2. f-string: 최신

In [4]:
student_num = 233927
student_name = "Gwangmu Heo"

# 출력: 전남대학교 233927, Gwangmu Heo 입니다.
print("전남대학교 {}, {} 입니다.".format(student_num, student_name))
print(f"전남대학교 {student_num}, {student_name} 입니다.")

전남대학교 233927, Gwangmu Heo 입니다.
전남대학교 233927, Gwangmu Heo 입니다.

## 7. 사칙연산

- 더하기: +
- 빼기: -
- 곱하기: *
- 나누기: /
- 나누기(몫): //
- 나누기(나머지): %
- 제곱: **